/*Menu idea from https://codepen.io/CiTA/pen/bgjKKE */


/*DONT MESS WITH THE MENU*/


/*I HAVE NO IDEA WHAT THE MATHS MEANS*/

:root {
  --sidebar-width: 100%;
  --toggler-size: 30px;
  --toggler-line-number: 3;
  --toggler-line-size: calc(var(--toggler-size) / (var(--toggler-line-number) + var(--toggler-line-number) - 1));
  --toggler-offset-left: 10px;
  --toggler-offset-top: 10px;
  --toggler-color: #388087;
  --toggler-color-hover: #f6f6f2;
}
/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*/
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
}
@media screen and (min-width: 20em) {
  html {
    font-size: calc(0.8rem + 0.4 * (100vw - 20em) / 55);
  }
}
@media screen and (min-width: 75em) {
  html {
    font-size: 1.2rem;
  }
}

.wrapper {
  min-width: 100vw;
  display: flex;
}

.sidebar,
.content {
  transition: all 0.25s ease-out;
}

.sidebar {
  width: var(--sidebar-width);
  transform: translateX(calc(var(--sidebar-width) * -1));
  background: linear-gradient(to bottom right, #388087, #f6f6f2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0.5;
}

.content {
  height:auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 10vmin;
  line-height: 15vmin;
  transition: all 0.25s ease-out;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: Gold;
}

.menu-toggler {
  border-radius: calc(var(--toggler-line-size) / 2);
  display: block;
  width: var(--toggler-size);
  height: var(--toggler-size);
  position: fixed;
  top: var(--toggler-offset-top);
  left: var(--toggler-offset-left);
  cursor: pointer;
  z-index: 2;
}

.menu-toggler__line {
  height: var(--toggler-line-size);
  background: var(--toggler-color);
  position: absolute;
  border-radius: calc(var(--toggler-line-size) / 2);
  left: 0;
  right: 0;
  transition: all 0.25s ease-out;
}
.menu-toggler__line:nth-child(1) {
  top: calc(var(--toggler-line-size) * 1 + (var(--toggler-line-size) * (1 - 2)));
}
.menu-toggler__line:nth-child(2) {
  top: calc(var(--toggler-line-size) * 2 + (var(--toggler-line-size) * (2 - 2)));
}
.menu-toggler__line:nth-child(3) {
  top: calc(var(--toggler-line-size) * 3 + (var(--toggler-line-size) * (3 - 2)));
}

.input-toggler {
  position: absolute;
  left: -100%;
}
.input-toggler:focus ~ .menu-toggler {
  outline: 1px dotted;
}
.input-toggler:checked ~ .menu-toggler .menu-toggler__line:not(:first-child):not(:last-child) {
  opacity: 0;
}
.input-toggler:checked ~ .menu-toggler .menu-toggler__line:first-child,
.input-toggler:checked ~ .menu-toggler .menu-toggler__line:last-child {
  background-color: var(--toggler-color-hover);
}
.input-toggler:checked ~ .menu-toggler .menu-toggler__line:first-child {
  transform: translateY(calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(45deg);
}
.input-toggler:checked ~ .menu-toggler .menu-toggler__line:last-child {
  transform: translateY(calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(-45deg);
}
.input-toggler:checked ~ .sidebar {
  transform: translateX(0);
  opacity: 0.98;
}

.wrapper {
  height: 100%;
}

.sb-link {
  display: flex;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #388087;
  transition: background 0.3s;
}

.sb-link:hover,
.sb-link:focus,
.sb-link:active {
 background: #f7f7f7;
}

/*End of Menu*/



.pageTitle {
    margin-top: 0.7em;
    margin-bottom: 1.3em;
}

.profile {
    height: 150px;
    width: 200px;
    border-radius: 30%;
}
/*LEFTOVER BOOTSTRAP*/

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-group > .card:not(:last-child) .card-img-top,
.card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
}
.card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
}  
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}


/*GRID SYSTEM*/
/* FROM http://www.responsivegridsystem.com/ */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}


/* Style the submit button */

input[type=submit] {
    background-color: #388087;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}



/* End Contact */

.port {
    height: 150px;
    width: 200px;
}



/* db edit */

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}



/*footer*/


.footerLogo {
    height: 150px;
    width: 150px;
}